#camera-feed {
    width: 100%;
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    background: black;
}

/* 촬영 버튼 */
#capture-button {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #8fb7df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#capture-button:hover {
    background-color: #34495e;
}

/* 캡처된 이미지 컨테이너 */
#image-container {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
}

/* 캡처된 이미지 스타일 */
#image-container img {
    width: 120px;
    height: 120px;
    border: 2px solid #333;
    border-radius: 10px;
    object-fit: cover;
}

/* 다음 버튼 */
#next-button {
    display: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #8fb7df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

a {
	text-decoration : none;
}

#next-button:hover {
    background-color: #34495e;
}

.face-guidance {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px; /* 필요하면 조절 */
}

.face-guidance-text {
    font-size: 20px;
    font-weight: bold;
    color: #black; /* 흰색으로 가독성 향상 */
    text-align: center;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* 살짝 그림자 효과 */
}
