@charset "UTF-8";


@charset "UTF-8";

.register-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* 헤더 높이 제외 */
  background-color: #e9ecef;
  padding: 20px;
  margin-left: 150px;
}

.register-container {
  display: flex;
  width: 70%;
  max-width: 800px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
  justify-content: center;
  padding: 20px;
}

.form-section {
  width: 100%;
  max-width: 600px;
  padding: 40px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 600;
  color: #495057;
  margin-bottom: 8px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #5c8cd5;
  outline: none;
}



@media (max-width: 768px) {
  .register-container {
    flex-direction: column;
    align-items: center;
  }

  .form-section {
    width: 100%;
    padding: 30px;
  }
}

/* 프로필 이미지 섹션 스타일 */
.profile-section {
  display: none;
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.profile-image img {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

/* 텍스트 및 입력란에 대한 추가 스타일 */
.form label {
  font-size: 1.1rem;
  color: #6c757d;
}

.form-group input,
.form-group select {
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 12px;
}

.form-group input::placeholder,
.form-group select::placeholder {
  color: #adb5bd;
}


/* 반응형 디자인 */
@media (max-width: 768px) {
  .register-container {
      flex-direction: column;
  }

  .profile-section,
  .form-section {
      width: 100%;
  }
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* 요소 사이 간격 */
}

#preview-image {
  width: 300px;
  height: 400px;
  object-fit: cover; /* 이미지 비율 유지 */
}


.register-btn {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgba(95, 157, 231, 0.48);
}

.register-btn:hover {
  color: #516d91;
  background-color: #E5EDF5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgba(95, 157, 231, 0.48);
}

.register-btn:active {
  box-shadow: none;
}
