@charset "UTF-8";

/* 전체 배경 스타일 */
.management {
  padding-top: 10px;
  max-width: 2000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fafafa;
  border-radius: 10px;
  padding: 20px;
}

/* 테이블 스타일 */
.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.user-table th,
.user-table td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f4f4f4;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.user-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.user-table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.user-table tbody tr:hover {
  background-color: #e9f5ff;
  cursor: pointer;
}

/* 드롭다운 메뉴 스타일 */
.dots {
  cursor: pointer;
  font-size: 22px;
  padding: 5px;
  color: #333;
  transition: all 0.3s ease-in-out;
}

.dots:hover {
  color: royalblue;
}

.dropdown- {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateX(10px);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 10;
  width: 150px;
}

.dropdown-menu button {
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
}

.dropdown-menu button:hover {
  background-color: #f4f4f4;
  color: royalblue;
}

<<<<<<< HEAD
/* 버튼 컨테이너를 위한 새로운 클래스 */
.button-container {
    display: flex;
    justify-content: flex-end; /* 우측 정렬 */
    margin-bottom: 10px; /* 테이블과의 간격 */
    width: 100%;
}

.cta-button {
    background-color: #16a4fa;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-right: -300px;
    
}

.cta-button:hover {
    background-color: #0f8dd8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.cta-button:active {
    transform: translateY(0);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
=======
.dropdown- .dropdown-menu {
  display: block; /* 클릭 시 드롭다운 보이기 */
}

/* 애니메이션 */
.dropdown-menu {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-:hover .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
}

/* 제목 스타일 */
.manage {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
>>>>>>> branch 'master' of https://github.com/kdgun1316/FaceCheck.git
